*{
      box-sizing: border-box;
}
body{
      font-family: Poppins;
}

a{
      text-decoration: none;
}

/* Common CSS */

.main-content{
      width: 1170px;
      margin: 0 auto;
}

.btn{
      color: #FFF;
      text-align: center;
      font-size: 16px;
      font-weight: 600;
      border-radius: 24.5px;
      background: #171100;
      min-width: 144px;
      line-height: 48px;
      padding-left: 16px;
      padding-right: 16px;
      border: 0;
      cursor: pointer;
      margin-left: 28px;
}


/* Phần header */

#header {
      background: #FFFCF4;
}

#header .body{
      display:flex;
      align-items: center;
      padding-top: 36px;
      padding-bottom: 36px;
}

#header .nav-bar{
      color: #5F5B53;
      text-align: center;
      font-size: 16px;
}

#header .nav-bar a {
  color: #5f5b53;
  text-align: center;
  font-size: 16px;
  margin-right: 42px;
}


#header .nav-bar ul{
      display: flex;
}

#header .nav-bar{
      margin-left: auto;
}

#header .nav-bar .active{
      color: #171100;
      font-weight: 600;
      position: relative;
}

/* PSEUDO  */

#header .nav-bar .active::after{
      content: "";
      width: 12px;
      height: 2px;
      border-radius: 1px;
      background: #171100;
      display: inline-block;
      position: absolute;
      bottom: 0;
      left: 0;
}

#header .nav-bar a:hover{
      text-shadow: 1px 0 currentColor;
      color: #171100;
}


/* Phần hero */

#hero {
      background: #FFFCF4;
      padding-bottom: 64px;
      margin-bottom: 200px;
}

#hero  .body{
      background: #FFFCF4;
      display: flex;
}

#hero .col-left .img-guy-lesson{
      width: 470px;
      height: 685px;
}

#hero .col-left{
      position: relative;
      width: 40%;
}

#hero .col-left .stats{
      width: 270px;
      height: 244px;
      border-radius: 12px;
      background: #FFF;
      box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
      padding-top: 28px;
      padding-bottom: 28px;
      padding-left: 24px;
      padding-right: 24px;
      position: absolute;
      top: 393px;
      left: 300px;
}

#hero .stats .item{
      display: flex;
      align-items: center;
      margin-bottom: 14px;
}

#hero .stats .item:last-child {
  margin-bottom: 0;
}


#hero .stats img {
  margin-right: 16px;
}

#hero .stats .item-info p:first-child{
      color: #5f5b53;
      font-size: 14px;
      line-height: 26px;
}

#hero .stats .item-info p:last-child {
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}


/* PHẦN col-right */

#hero .col-right{
      width: 60%;
      padding-left: 230px;
      padding-top: 46px;
}

#hero .col-right .title{
      color: #171100;
      font-family: Sen;
      font-size: 58px;
      font-weight: 700;
      line-height: 68px; /* 117.241% */
      letter-spacing: -1.16px;
}

#hero .col-right .desc{
      color: #5F5B53;
      font-size: 18px;
      font-weight: 400;
      line-height: 30px; /* 166.667% */
      margin-top: 28px;
      margin-bottom: 38px;
}

#hero .col-right .cta-group{
      display: flex;
}

#hero .col-right .cta-group .btn-see-course{
      width: 180px;
      height: 64px;
      border-radius: 32px;
      background: #FFB900;
      margin-left: 0;
}

#hero .col-right .cta-group .btn-watch-video{
      color: #171100;
      font-size: 18px;
      font-weight: 600;
      line-height: 30px; /* 166.667% */
      border: 0;
      background: none;
      cursor: pointer;
      display: flex;
      align-items: center;
}

#hero .col-right .cta-group .btn-watch-video img{
      width: 40px;
      height: 40px;
      margin-left: 28px;
      margin-right: 14px;
}

#hero .col-right .recent-engagement{
      margin-top: 48px;
      margin-bottom: 8px;
}

#hero .col-right .stat{
      display: flex;
}

#hero .col-right .stat p{
      color: #5F5B53;
      font-size: 18px;
      line-height: 30px;
}

#hero .col-right .stat strong{
      color: #171100;
      font-family: Sen;
      font-size: 44px;
      font-weight: 700;
      line-height: 54px; /* 122.727% */
}

#hero .col-right .stat p:first-child{
      margin-right: 28px;
}


/* OUR POPULAR COURSE */


#popular-courses .heading{
      color: #171100;
      font-family: Sen;
      font-size: 38px;
      font-weight: 700;
      line-height: 48px; /* 126.316% */
      letter-spacing: -0.76px;
      margin-bottom: 16px;
}

#popular-courses .desc{
  width: 458px;
  color: #5F5B53;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px; /* 166.667% */
  margin-bottom: 55px;
}


#popular-courses .item-group {
  display: flex;
  gap: 30px;
}
#popular-courses .item-group .item{
  width: 370px;
  height: 466px;
  border-radius: 12px;
  background: #FFF;
  box-shadow: 0 18px 36px 0 rgba(0, 0, 0, 0.05);
  margin-bottom: 200px;
}

#popular-courses .item-group .item h3{
  color: #171100;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px; /* 166.667% */
  margin-bottom: 6px;
  margin-left: 22px;
  margin-top: 16px;
}

#popular-courses .item-group .item .ab{
      display: flex;
}

#popular-courses .item-group .item .ab .SAO{
      margin-top: 17px;
      margin-left: 119px;
      margin-right: 22px;
}

#popular-courses .item-group .item p {
  width: 326px;
  color: #5F5B53;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px; /* 185.714% */
  margin-left: 22px;
}

#popular-courses .item-group .item .cta-group{
  display: flex;
  /* margin-left: 22px; */
}

#popular-courses .item-group .item .cta-group .tien{
      color: #171100;
      font-size: 18px;
      font-weight: 600;
      line-height: 30px; /* 166.667% */
      margin-left: 22px;
}

#popular-courses .item-group .IMG{
  margin-bottom: 16px;
  width: 370px;
  height: 278px;
  border-radius: 12px 12px 0 0;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

#popular-courses .item-group .btn {
      margin-right: 22px;
}

#popular-courses .item-group .btn-book-now{
      border-radius: 25px;
      background: #FFB900;  
}

#popular-courses .HD{
      display: flex;
}

#popular-courses .HD img{
      margin-left: auto;
      margin-bottom: 55px;
}


#popular-courses .item-group .item .cta-group .btn-book-now1:hover{
      text-shadow: 1px 0 currentColor;
      background: #FFB900;
}

/* Phần TESTIMINALS */

#testimonials {
      background: #2E2100;

}

#testimonials .intro{
      display: flex;
}


#testimonials .intro .left .Petter{
      width: 72px;
      height: 72px;
      border-radius: 72px;
      background: url(<path-to-image>) lightgray -51.126px -33.052px / 228.267% 342.4% no-repeat;
      margin-bottom: 18px;
      margin-top: 96px;
}

#testimonials .intro .left h4{
      color: #F7F7F7;
      font-family: Sen;
      font-size: 24px;
      font-weight: 700;
      line-height: 34px;
}

#testimonials .intro .left h5{
      width: 159px;
      color: #BFBCB2;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      margin-right: 271px;
}

#testimonials .intro .left img{
      margin-top: 28px;
}

#testimonials .intro p{
      color: #FFF;
      font-size: 26px;
      font-style: italic;
      font-weight: 400;
      line-height: 40px;
      margin-top: 124px;
      margin-bottom: 96px;
}

#testimonials .intro  img{
      width: 30px;
      height: 28px;
      margin-top: 96px;
}


/* Phần Cta  */

 #cta .body{
  display: flex;
  padding-top: 65px;
  padding-bottom: 200px;
}

#cta .col-right{
  width: 52.3%;
  padding-top: 58px;
  padding-left: 130px;
  padding-bottom: 58px;
}

#cta .col-left img:first-child{
  margin-top: 34px;
  width: 270px;
  height: 404px;
}

#cta .col-left img:last-child {
  width: 270px;
  height: 405px;
}


#cta .col-right h2{
  color: #171100;
  font-family: Sen;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px; 
  letter-spacing: -0.76px;
  width: 470px;
  margin-bottom: 16px;
}

#cta .col-right p:last-of-type{
  margin-top: 16px;
  margin-bottom: 32px;
}

#cta .col-right .btn-sign-up{
  margin-left: 0;
  background: #FFB900;
}

#cta .col-right .desc{
  color: #5F5B53;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; 
}

/* phần FEATURES */

/* #features .body{
  display: flex;
}

#features .col-left {
  width: 48.7%;
}

#features .col-right{
  width: 52.3%;
}

#features .col-left h2{
  color: #171100;
  font-family: Sen;
  font-size: 38px;
  font-weight: 700;
  line-height: 48px; 
  letter-spacing: -0.76px;
  margin-right: 130px;
  margin-bottom: 22px;
}

#features .col-right img{
  width: 470px;
  height: 440px;
  border-radius: 20px;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

#features .col-left .desc{
  color: #5F5B53;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px; 
  margin-bottom: 32px;
}

#features .col-left .btn-join-now{
  margin-left: 0;
  background: #FFB900;
  margin-bottom: 71px;
} 



